[std]
name = "{{ project_name }}"
{% if needs_http or needs_filesystem %}

{% if needs_http %}
[std.capabilities."wasi:http"]
{% endif %}
{% if needs_filesystem %}
[std.capabilities."wasi:filesystem"]
{% endif %}
{% endif %}
